@import './const.sass'

*
	box-sizing: border-box
	font-family: sans-serif

.title
	text-align: center

button
	padding: 6px 10px
	cursor: pointer
	border: 1px solid $main_color
	border-radius: 4px
	background: none
	color: $main_color
	transition: .25s
	&:hover
		transition: .25s
		color: #fff
		background: $main_color

input
	border-radius: 4px
	padding: 6px
	border: 1px solid $additional_color