@import '../main.sass'

$aside_width: 300px

.main_chat_wrap
	height: calc(100vh - 20px)
	margin: 10px 0px
	box-sizing: border-box
	display: flex
	font-family: sans-serif
	border: 1px solid $main_color
	& > *
		padding: 10px

.top_line
	min-height: 55px
	display: flex
	align-items: center
	padding: 10px

.aside, .chat_wrap
	& > *
		padding: 10px

.chat_wrap
	flex-grow: 1
	display: flex
	flex-direction: column

.aside
	display: flex
	flex-direction: column
	width: $aside_width
	height: 100%
	border-right: 1px solid $additional_color
	overflow: hidden
	.top_line
		display: flex
		justify-content: space-between
		align-items: center
	.available_chats
		overflow-y: auto
		flex-grow: 1
	.chat
		border: 1px solid $main_color
		margin-bottom: 10px
		cursor: pointer
		.chat_title
			border-bottom: 1px solid $additional_color
		& > *
			padding: 5px
			text-overflow: ellipsis
			white-space: nowrap
			overflow: hidden

p.chat_active_title
	font-size: 22px


// Message wrap
.messageWrap
	display: flex
	flex-direction: column-reverse
	flex-grow: 1
	overflow-y: auto
	.message_item
		position: relative			
		max-width: 65%
		min-width: 65px
		margin-bottom: 15px
		text-align: right
		margin-right: auto
		border: 1px solid $main_color
		border-radius: 6px
		.date
			position: absolute
			min-width: 	110px
			opacity: .3
			top: 0px
			left: 100%
		.sender
			border-bottom: 1px solid $additional_color
			color: $nickname_color
		& > *
			padding: 4px 8px
		&.fromLogged
			margin-right: initial
			margin-left: auto
			text-align: left
			.date
				left: initial
				right: 100%

// Message input
.message_input_wrap
	margin-top: 20px
	position: relative		
	textarea
		height: 70px
		padding: 10px
		padding-right: 46px
		width: 100%
		resize: none
		outline: none
		border: 1px solid $additional_color
		transition: .2s
		&:focus
			transition: .2s
			border-color: $main_color
	#send_message
		padding: 10px
		position: absolute
		right: 30px
		bottom: 50%
		transform: translateY(50%)
		border: none
		background: url('../../img/send.svg') no-repeat center
		background-size: contain
		opacity: .5
		transition: .2s
		&:hover
			opacity: .75
			transition: .2s

// creating chat model
#createChat
	.users_list
		li
			padding-left: 16px
			position: relative
			cursor: pointer
			&:before
				position: absolute
				content: ''
				width: 6px
				height: 6px
				border-radius: 50%
				left: 4px
				top: 50%
				transform: translateY(-40%)
		&.available_users
			li
				&:before
					background: $main_color
		&.users_to_create_chat
			li
				&:before
					background: rgba($main_color, .65)
	.limited
		max-height: 200px
		overflow: auto

	.create_button
		font-size: 12px
		padding: 5px 8px
		margin: 5px 0px 0px auto
		display: block